
.bg {
  background-image: url("./img/Audi.png");
  background-repeat: no-repeat;
}
.car {
  background-image: url("./img/bg.png");
  background-repeat: no-repeat;
}

.car2{
  background-image: url("./img/bg2.png");
  background-repeat: no-repeat;
}
.car3{
  background-image: url("./img/bg3.png");
  background-repeat: no-repeat;
}
